/* body{
    background-color: yellowgreen;
} */

header{
    padding: 0px 20px 5px 20px;
}

.navbar{
    position: sticky;
    top: 0%;
    z-index: 100;
    background-color: black;
    height: 60px;
}

.ul-list{
    display: none;
}

.login{
    display: none;
}

.hero-left {
    width: 80%;
    margin-top: -254px;
}


#hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line{
    width: 35px;
    height: 4px;
    background-color: white;
    border: 1px solid white;
    margin-top: 7px;
    border-radius: 8px;
}

.Login {
    background-color: #3d3dff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    border-radius: 25px;
    width: 100px;
    margin: auto;
}

.side-menu{
    list-style-type: none;
    text-align: center;
    display: none;
    display: block;
    background-color: rgb(39, 38, 38);
    font-size: 20px;
    padding: 10px 0px;
    color: rgb(186, 185, 185);
    transform: translateX(-110%);
    transition: all 0.5s ease;
}

.side-menu li{
    margin-top: 10px;
}

.block{
    display: block;
}


.side-menu.open{
    transform: translateX(0%);
}

#side-menu li{
    margin-top: 18px;
    margin-bottom: 9px;
}

.rotate45{
    transform: rotate(45deg) translateY(8px);
    transition: all 0.5s ease;
}

.rotate315{
    transform: rotate(315deg) translateY(-8px);
    /* transform: rotate(-45deg) translateY(-8px); */
    transition: all 0.5s ease;
}

.hidden{
    display: none;
}