/* body{
    background-color: cornflowerblue;
} */

.left-heading {
    font-size: 35px;
}

.left-btn {
    padding: 13px 18px;
    margin-right: 5px;
}

.right-btn {
    padding: 13px 18px;
    margin-left: 5px;
}

.left-para {
    font-size: 16px;
}

.right-img {
    width: 300px;
    height: 200px;
}

.third-sect-boxes {
    margin-top: 30px;
}

.right-speed-img {
    width: 300px;
    height: 200px;
}

.leftSection {
    width: 300px;
}

.rightSection {
    width: 300px;
}

.second-head {
    font-size: 37px;
}

.second-para {
    width: 88%;
    font-size: 20px;
}

.hero-left-btns {
    font-size: 11px;
}


#Amount-Section h1 {
    font-size: 27px;
    width: 90%;
}

.box {
    width: 300px;
}

.roundBox {
    width: 300px;
}

.box-one {
    width: 300px;
}

.side-menu {
    font-size: 14px;
}

.footer-little-gap {
    margin-left: 28px;
}